.sidebar__button {
    position: fixed;
    top: 2%;
    left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 101;
  }

.sidebar__button div {
    width: 2rem;
    height: 0.25rem;
    background: rgb(47, 47, 47);
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
    z-index: 100;
}